@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center mb-5">
    <h1 class="display-4 mb-4">Bine ai venit pe pagina GlamTreasures</h1>
    <p class="lead">Descopera cele mai noi colectii de bijuterii</p>
</div>

<div class="row mb-5">
    <div class="col-md-4">
        <div class="card h-100">
            <div class="card-body text-center">
                <i class="fas fa-gem fa-3x mb-3 text-accent"></i>
                <h5 class="card-title">Colectii de bijuterii</h5>
                <a asp-page="/Jewelry/Index" class="btn btn-primary">Cauta colectii</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card h-100">
            <div class="card-body text-center">
                <i class="fas fa-gift fa-3x mb-3 text-accent"></i>
                <h5 class="card-title">Oferte speciale</h5>
                <a asp-page="/Jewelry/SpecialOffers" class="btn btn-primary">Vezi oferte</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card h-100">
            <div class="card-body text-center">
                <i class="fas fa-star fa-3x mb-3 text-accent"></i>
                <h5 class="card-title">Seturi de bijuterii</h5>
                <a asp-page="/Sets/Index" class="btn btn-primary">Vezi seturi</a>
            </div>
        </div>
</div>


